
<!-- <mat-checkbox
  #showDetails
  [value]=""
  checked="isChecked"
  (change)="onChange($event)">show details
</mat-checkbox>
  <div *ngIf="showDetails.checked">some details.</div>


<mat-radio-group>
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
  <mat-radio-button value="3">Option 3</mat-radio-button>
</mat-radio-group> -->

<!-- <mat-form-field [(ngModel)]="color">
  <mat-select placeholder="favorite color">
    <mat-option *ngFor="let color of colors" [value]="color.id">{{ color.name }}</mat-option>
  </mat-select>
</mat-form-field> -->
<!-- <mat-form-field>
  <mat-select [(ngModel)]="color">
    <mat-option *ngFor="let color of colors" [value]="color.id">{{ color.name }}</mat-option>
  </mat-select>
</mat-form-field> -->
<!-- 
<form action="" class="m-form">
  <mat-form-field>
    <input
      ngModel
      #food="ngModel"
      matInput placeholder="favorite food" value="sushi" required>
    <mat-hint>Type a food</mat-hint>
    <span matSuffix>@food.com</span>
    <span matPrefix>@admin.</span>
    <mat-error>
      field is req
    </mat-error>
  </mat-form-field>
</form> -->

  <!-- <mat-form-field>
      <textarea matInput matTextareaAutosize placeholder="asdf" name="" id="" cols="30" rows="2"></textarea>
  </mat-form-field> -->

<!-- 
<mat-form-field>
  <input matInput [matDatepicker]="picker1" placeholder="title">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <button matSuffix [matDatepickerToggle]="picker1"></button>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field> -->


<!-- <mat-form-field>
    <input
      (focus)="picker.open()"
      [min]="minDate"
      [max]="maxDate"
      matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker touchUi="true"></mat-datepicker>
  </mat-form-field>


  <br> -->
  <mat-icon>add_alert</mat-icon>
  <button color="primary" mat-raised-button>a sdf</button>
  <button color="accent" mat-raised-button>asdf</button>
  <button color="warn" mat-raised-button>asdf</button>
  <button color="warn" mat-fab><mat-icon>check</mat-icon></button> -->


  <p class="mat-body-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, nihil dolores dolorem eveniet incidunt repellat possimus suscipit ipsam illo aperiam, obcaecati expedita quam cum atque nemo laudantium aliquam? Dolore, corrupti.</p>

  <!-- <mat-chip-list>
    <mat-chip selected="true" color="accent">asadf</mat-chip>
    <mat-chip>asdfg</mat-chip>
    <mat-chip>ert</mat-chip>
  </mat-chip-list>   -->
  <!-- <mat-chip-list>
    <mat-chip
      *ngFor="let category of categories"
      (click)="selectCategory(category)"
      [selected]="category.selected"
      >{{ category.name }}</mat-chip>
  </mat-chip-list>
  <br>
  <mat-progress-spinner
  mode="indeterminate" [value]="progress"></mat-progress-spinner>

  <span
  matTooltip="text"
  matTooltipPosition="right">some text</span>

  <mat-tab-group>
    <mat-tab label="billing">content</mat-tab>
    <mat-tab label="shipping">content2</mat-tab>
  </mat-tab-group>

  <button
  (click)="openDiag()"
  mat-raised-button>open diag</button> -->

  <h1>heading1</h1>
  <h2>heading2</h2>
  